# compiled output
/dist
/node_modules
/apps/server/src/common/node_modules

#
/env/*
/secrets/*
apps/server/env/*
apps/scholar-sync/env/*

.venv

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

apps/server/volumes
volumes

# redis
.docker/redis/redis-data
.docker/redis-scheduler/redis-data/*
deploy/server/redis/redis-data
.docker/redis-scheduler/redis-data

# rabbitmq
.docker/rabbitmq/rabbitmq-data/*

# elasticsearch
.docker/elasticsearch/elasticsearch-data/*

#firebase secrets
secrets/*
web-test/*

## logs
apps/server/logs/*
# Sentry Config File
.sentryclirc
