version: "3.4"

services:
  redis-cache:
    image: redis:7.2-alpine
    container_name: redis-otl
    ports:
      - "6379:6379"
    expose:
      - "6379"
    volumes:
      - ../redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ../redis/redis-data:/data
    env_file:
      - ../../../env/.env.local
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    command:
      - /bin/sh
      - -c
      # - Double dollars, so that the variable is not expanded by Docker Compose
      # - Surround by quotes, so that the shell does not split the password
      # - The ${variable:?message} syntax causes shell to exit with a non-zero
      #   code and print a message, when the variable is not set or empty
      - redis-server --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq-otl
    ports:
      - "5672:5672"
      - "15672:15672"
    expose:
      - "5672"
      - "15672"
    environment:
      - RABBITMQ_DEFAULT_USER=otlplus
      - RABBITMQ_DEFAULT_PASS=password
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: always
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5
    command: >
      bash -c "
        apt-get update && apt-get install -y curl &&
        curl -L -o /opt/rabbitmq/plugins/rabbitmq_delayed_message_exchange-3.13.0.ez https://github.com/rabbitmq/rabbitmq-delayed-message-exchange/releases/download/v3.13.0/rabbitmq_delayed_message_exchange-3.13.0.ez &&
        rabbitmq-plugins enable --offline rabbitmq_delayed_message_exchange &&
        docker-entrypoint.sh rabbitmq-server
      "

volumes:
  rabbitmq-data:
